body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  padding: 1rem;
}

header {
  height: 70px;
}

header ul {
  list-style: none;
  padding: 1.4rem 0;
  margin: 0;
  height: inherit;
  display: block;
	overflow: hidden;
}

header ul li {
  float: left;
  padding-right: 2rem;
  display: table-cell;
  vertical-align: middle;
  height: inherit;
	font-weight: 500;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo h2 {
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

.main-container,
header {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.main-container .sidebar-container,
.logo {
  order: 1;
  flex: 1;
  flex-basis: auto;
  padding: .5rem;
  max-width: 250px;
  min-width: 250px;
}

.main-container .canvas-container,
.navigation {
	order: 1;
  flex: 5;
  padding: .5rem;
}

.main-container .canvas-container canvas {
	
}

/* Utils */

.clearfix {
  clear:both;
}
